/* Basic styling */
* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

body {
	font-family: "Segoe UI", sans-serif;
	background: #1A2933;
	color: #FFF;
	background-image: url("./static/bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin: 0 0 10px 0;
	font-weight: 600;
	line-height: 1.2;
}

p {
	margin-top: 10px;
	color: rgba(255,255,255,0.4);
}

/* Styling of window frame and titlebar */
body {
	border: 1px solid #48545c;
	overflow-y: hidden;
}

#titlebar {
	display: block;
	position: fixed;
	height: 32px;
	width: calc(100% - 2px);
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10000;
}

#navbar {
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	justify-content: center;
}

.maximized #titlebar {
	width: 100%;
	padding: 0;
}

#main {
	height: calc(100% - 32px);
	margin-top: 32px;
	overflow-y: none;
	margin-right: 0;
	margin-left: 0;
}

#titlebar {
	padding: 4px;
}

#titlebar #drag-region {
	width: 100%;
	height: 100%;
	-webkit-app-region: drag;
}

#titlebar {
	color: #FFF;
}

#titlebar #drag-region {
	display: grid;
	grid-template-columns: auto 138px;
}

#window-title {
	grid-column: 1;
	display: flex;
	align-items: center;
	margin-left: 8px;
	overflow: hidden;
	font-family: "Segoe UI", sans-serif;
	font-size: 12px;
}

.maximized #window-title {
	margin-left: 12px;
}

#window-title span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.5;
}

#window-controls {
	display: grid;
	grid-template-columns: repeat(3, 46px);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

#window-controls {
	-webkit-app-region: no-drag;
}

#window-controls .button {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
	#window-controls .icon {
		width: 10px;
		height: 10px;
	}
}

#window-controls .button {
	user-select: none;
}

#window-controls .button:hover {
	background: rgba(255,255,255,0.1);
}

#window-controls .button:active {
	background: rgba(255,255,255,0.2);
}

#close-button:hover {
	background: #E81123 !important;
}

#close-button:active {
	background: #F1707A !important;
}
#close-button:active .icon {
	filter: invert(1);
}

#min-button {
	grid-column: 1;
}
#max-button, #restore-button {
	grid-column: 2;
}
#close-button {
	grid-column: 3;
}

#restore-button {
	display: none !important;
}

.maximized #restore-button {
	display: flex !important;
}

.maximized #max-button {
	display: none;
}

#gallery{
	overflow-x: scroll;
}

#screenshot {
	max-width:100%;
	width:auto;
	max-height:100%;
	height:auto;
	object-fit:contain;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.4);
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}
