// Set your colors
$primary: #ec202a;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
html {
  overflow: hidden;
  overflow-y: hidden !important;
}

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

img {
  box-shadow: none;
}

.section {
  padding: 1.5em;
}

span + .material-icons {
  margin-left: 0.25em;
}

.material-icons + span {
  margin-left: 0.25em;
}

.has-pointer {
  cursor: pointer;
}

.no-padding {
  padding: 0 !important;
}

.file-name {
  padding-top: 0.25em;
}

/* custom Scroll bars */

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@import '~bulma/sass/utilities/_all';
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black
  ),
  'black': (
    $black,
    $white
  ),
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  ),
  'twitter': (
    $twitter,
    $twitter-invert
  )
);
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
input,
select,
textarea {
  color: black !important;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: $primary;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: darken($primary, 10%);
}

@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import 'https://use.fontawesome.com/releases/v5.2.0/css/all.css';
@import 'https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css';
.shadow {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.175) !important;
}

.modal-close {
  top: 40px !important;
}

.modal.is-full-screen > .animation-content,
.modal.is-full-screen > .animation-content > .modal-card {
  background: rgb(37, 37, 37);
  background: linear-gradient(
    0deg,
    rgba(37, 37, 37, 1) 0%,
    rgba(61, 61, 61, 1) 100%
  );
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

$white: #fff;
$grey: darken($white, 15%);
$black: #333;
.vue-simple-context-menu {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
  position: absolute;
  z-index: 1000000;
  background-color: $black;
  border-bottom-width: 0px;
  box-shadow: 0 3px 6px 0 rgba($black, 0.2);
  border-radius: 5px;
  &--active {
    display: block;
  }
  &__item {
    display: flex;
    color: $grey;
    cursor: pointer;
    font-size: 0.75rem;
    padding: 5px 15px;
    align-items: center;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  li {
    &:first-of-type {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-of-type {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

a:hover {
  color: darken($red, 20%);
}

h2 {
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

p,
li {
  font-size: 0.8rem;
  color: #aaaaaa;
}

ul {
  list-style-type: square;
  margin-left: 1.5rem;
}

.text {
  color: white;
}

.modal-card {
  width: 60vw;
  height: 80vh;
  background: rgb(37, 37, 37) !important;
}

.modal-card-head {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 0;
}

.modal-card-title {
  color: white !important;
  font-weight: 700;
  margin-bottom: 0rem !important;
}

.modal-card-body {
  background-color: transparent;
}
